body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
#map{
    position: relative;
    width: 100%;
    height: 1000px;
}
.larger{
    position: absolute;
    top: 100px;
    left: 200px;
}
.fa-window-close{
    position: absolute;
    font-size: 40px;
    top: 0;
    right: 0;
    color: white;
}
.lightning {
    display: none;
    position: absolute;
    animation: lightning 2s linear infinite;
    background: transparent;
}
.lightning img{
    width: 100%;
    transform: scaleX(-1) rotate(20deg);
}
.containered{
    width: 140vh;
    height: 80vh;
    position: relative;
    color: white;
    overflow: hidden;
    background-color: salmon;
}
.sun{
    position: absolute;
    width: 10vw;
    height: calc(10vw);
    border-radius: 50%;
    background-color: #CD9B1D;
    bottom: 0;
    left: 50%;
    transform: rotate(-120deg) translateX(40vw) rotate(-120deg);
}
.date{
    font-size: 23px;
    font-weight: bold;
    float: left;
    margin-top: 100px;
    margin-left: 80px;
    color: #010a3d;
    display: inline-block;
}
.time {
    font-size: 23px;
    float: left;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 80px;
    color: #010a3d;
    display: inline-block;
}
.forest {
    width: 100vw;
    bottom: 0;
    left: 0;
    position: absolute;
}
.weather{
    position: absolute;
    width: 300px;
    height: 400px;
    background: #CD853F;
    top: 20%;
    right: 10%;
    border-radius: 10px;
}
.weather .icon img{
    width: 100%;
}
.weather .city{
    position: absolute;
    font-size: 20px;
    padding: 15px;
}
.weather .temp {
    margin-top: -20px;
    display: block;
}
.weather .curr-temp{
    float: left;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 5px;
}
.weather .discription{
    float: right;
    padding-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-transform: capitalize;
}
.weather .min-max{
    width: 100%;
    border-top: 1px solid #f1f1f1;
    font-size: 15px;
    line-height: 1.4em;
}
.rain {
    position: fixed;
    display: none;
    top: -100px;
    width: 1px;
    height: 100px;
    background-image: linear-gradient(to bottom,transparent,white);
}
.layer-1 .rain:nth-child(2){
    left: 10%;
    animation: rainFall .8s linear 0.4s infinite;
}
.layer-1 .rain:nth-child(3){
    left: 15%;
    animation: rainFall .7s linear 0.8s infinite;
}
.layer-1 .rain:nth-child(4){
    left: 30%;
    animation: rainFall .7s linear 0.5s infinite;
}
.layer-1 .rain:nth-child(5){
    left: 40%;
    animation: rainFall .5s linear 0.6s infinite;
}
.layer-1 .rain:nth-child(6){
    left: 45%;
    animation: rainFall .4s linear 0.5s infinite;
}
.layer-1 .rain:nth-child(7){
    left: 60%;
    animation: rainFall .6s linear 0.6s infinite;
}
.layer-1 .rain:nth-child(8) {
    left: 70%;
    animation: rainFall .4s linear 0.3s infinite;
}
.layer-1 .rain:nth-child(9){
    left: 75%;
    animation: rainFall .5s linear 0.4s infinite;
}
.layer-1 .rain:nth-child(10){
    left: 80%;
    animation: rainFall .8s linear 0.5s infinite;
}
.layer-1 .rain:nth-child(11){
    left: 90%;
    animation: rainFall .5s linear 0.6s infinite;
}
.layer-1 .rain:nth-child(12){
    left: 95%;
    animation: rainFall .8s linear 0.3s infinite;
}
.layer-1 .rain:nth-child(13){
    left: 97%;
    animation: rainFall .5s linear 0.5s infinite;
}
/* layer 2 */
.layer-2 .rain:nth-child(2){
    left: 16%;
    animation: rainFall .5s linear 1s infinite;
}
.layer-2 .rain:nth-child(3){
    left: 21%;
    animation: rainFall .4s linear 5s infinite;
}
.layer-2 .rain:nth-child(4){
    left: 35%;
    animation: rainFall .4s linear 0.5s infinite;
}
.layer-2 .rain:nth-child(5){
    left: 44%;
    animation: rainFall .3s linear 7s infinite;
}
.layer-2 .rain:nth-child(6){
    left: 50%;
    animation: rainFall .7s linear 0.5s infinite;
}
.layer-2 .rain:nth-child(7){
    left: 65%;
    animation: rainFall .3s linear 0.9s infinite;
}
.layer-2 .rain:nth-child(8) {
    left: 77%;
    animation: rainFall .4s linear 0.8s infinite;
}
.layer-2 .rain:nth-child(9){
    left: 75%;
    animation: rainFall .3s linear 0.4s infinite;
}
.layer-2 .rain:nth-child(10){
    left: 88%;
    animation: rainFall .2s linear 5s infinite;
}
.layer-2 .rain:nth-child(11){
    left: 92%;
    animation: rainFall .5s linear 10s infinite;
}
.layer-2 .rain:nth-child(12){
    left: 98%;
    animation: rainFall .3s linear 0.5s infinite;
}
.layer-2 .rain:nth-child(13){
    left: 97%;
    animation: rainFall .5s linear 0.5s infinite;
}
.snows .sakuras {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.snowflake {
    display: none;
    color: #fff;
    font-size: 1.5em;
    font-family: sans-serif;
    text-shadow: 0 0 5px #000;
    position: fixed;
    top: -10%;
    z-index: 9999;
    animation-name: snowfakes-fall,snowflakes-shake;
    animation-duration: 10s , 3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running;
}
@keyframes snowfakes-fall {
    0%{
        top: -10%;
    }
    100%{
        top: 100%;
    }
}
@keyframes lightning {
    0%,100%{
        opacity: 0;
        background-color: transparent;
    }
    30%{
        opacity: 0;
        background-color: transparent;
    }
    31%{
        opacity: 1;
        background: white;
    }
    37%{
        opacity: 0.5;
        background-color: white;
    }
    45%{
        opacity: 0;
        background: transparent;
    }
}
@keyframes rainFall {
    0%{
        top:-100px;
    }
    50%{
        top:100vh;
    }
    100%{
        top: 100vh;
    }
}