*{
    box-sizing: border-box;
}
.menu-sidebar{
    border-top: 2px solid gray;
    list-style-type: none;
    padding: 0;
}
section{
    color: black;
    font-weight: bold;
    font-size: 13px;
    border-left: 1px solid gray;
    padding:0 25px 0 25px;
    border-right: 1px solid gray;
}
.menu-sidebar{
    border: 1px solid #CCCCCC;
    list-style-type: none;
    padding: 5px;
    position: sticky;
    top: 20px;
}
.menu-sidebar li{
    font-size: 18px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #999999;
    border: 1px solid gray;
    transition: background-color 0.3 ease-in-out;
}
.menu-sidebar li .fa-arrow-right{
    float: right;
    margin-left: 20px;
}
.menu-sidebar li:hover{
    background-color: gray;
    color: white;
}
#head{
    background-color: #BBBBBB;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
section{
    width: 100%;
    background-color: inherit;
}
article{
    display: block;
    margin: 0 0 15px 0;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
article:hover{
    background-color:#DDDDDD;
    transform: translateX(20px) scale(1.1);
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}
article div{
    display: inline-block;
    height: 70px;
    clear: both;
    border: none;
    overflow: hidden;
    margin-left: 5px;
}
.date{
    width: 10%;
    display: block;
    float: left;
    justify-content: center;
    padding: 12px;
    text-align: center;
    line-height: 12px;
}
.img{
    width: 10%;
}
.temp{
    font-size: 30px;
    color: black;
    padding: 20px;
    text-align: center;
}
.temp > p{
    display: inline;
}
.des{
    font-size: 15px;
    font-weight: bold;
    word-wrap:break-word;
    color: black;
    padding: 15px;
    text-align: center;
    width: 30%;
}
.hummity{
    width: 25%;
    text-align: center;
    padding-top: 20px;
}
.hummity div{
    display: inline-block;
    width: 30px;
    height: 30px;
}